---
name: Confluence

on:
  push:
    paths:
      - 'confluence/**'
      - '.github/workflows/confluence.yaml'

jobs:
  yamllint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: yamllint
        uses: ibiqlik/action-yamllint@v3

      - name: test dir
        run: ls -a confluence/

  build:

    runs-on: ubuntu-latest
    needs: yamllint

    steps:
    - uses: actions/checkout@v2
    - name: test dir
      run: ls -a confluence/

    - name: Run in Dir above
      run: cd confluence && ls -a

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag docker-test:$(date +%s)
  
  # build2:
  #   #name: build
  #   timeout-minutes: 60
  #   runs-on: ubuntu-latest
  #   container: ubuntu:20.04
  #   env:
  #     repo: docker-test
  #   steps:
  #   # untars repo in docker container so git submodule update fails
  #   #- uses: actions/checkout@v2
  #   - name: install git & make
  #     run: apt-get update -qq && apt-get install -qy git make
  #   - name: git clone
  #     run: cd /tmp && git clone "https://github.com/buluma/$repo"
  #   - name: init
  #     run: cd "/tmp/$repo" && git submodule update --init --recursive
  #   - name: build
  #     run: cd "/tmp/$repo" && ls -a
  #   - name: test
  #     run: cd "/tmp/$repo" && cd confluence && ls -a
  #   - name: Build the Docker image
  #     run: docker build . --file Dockerfile --tag docker-test:$(date +%s)
