---
name: FPM

on:
  push:
    paths:
      - 'fpm/**'
      - '.github/workflows/fpm.yaml'

  schedule:
    - cron: '30 * * * *'

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: yamllint
        uses: ibiqlik/action-yamllint@v3

      - name: test dir
        run: ls -a fpm/

      - name: Create Issue on Lint failure.
        if: failure()
        uses: buluma/create-issue-action@v2.0.0
        with:
          title: FPM Lint Test Failed
          token: ${{secrets.GITHUB_TOKEN}}
          assignees: ${{github.actor}}
          labels: bug
          body: FPM Lint check failed for commit ${{github.sha}}

  build:

    runs-on: ubuntu-latest
    needs: yamllint

    steps:
    - uses: actions/checkout@v2
    - name: test dir
      run: ls -a fpm/

    - name: Run in Dir above
      run: cd fpm && ls -a

    - name: Where are we
      run: pwd && ls -a

    - name: Build the Docker image
      run: docker build . --file fpm/Dockerfile --tag docker-fpm-test:$(date +%s)

    - name: Create Issue on Build failure.
      if: failure()
      uses: buluma/create-issue-action@v2.0.0
      with:
        title: FPM Build Failed
        token: ${{secrets.GITHUB_TOKEN}}
        assignees: ${{github.actor}}
        labels: bug
        body: FPM build failed for commit ${{github.sha}}
