---
name: 1. Make Test

# This runs every day on 1801 UTC
on:
  push:
    paths:
      - 'cathode/**'
      - '.github/workflows/make.yml'

  schedule:
    - cron: '1 18 * * *'
  # Allows manual workflow run (must in default branch to work)
  workflow_dispatch:

jobs:
  test:
    name: make test
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate Github
        uses: actions/labeler@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: actions/checkout@master
        with:
          fetch-depth: '2'
      - name: make test
        # run: make test
        # run: make dockerfiles
        # run: make build
        # run: make latest-versions
        run: make image DIR=cathode
        # run: make run DIR=ab
        shell: bash
