---
name: Tor

on:
  push:
    paths:
      - 'tor/**'
      - '.github/workflows/tor.yaml'

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: yamllint
        uses: ibiqlik/action-yamllint@v3

      - name: test dir
        run: ls -a tor/

  build:

    runs-on: ubuntu-latest
    needs: yamllint

    steps:
    - uses: actions/checkout@v2
    - name: test dir
      run: ls -a tor/

    - name: Run in Dir above
      run: cd tor && ls -a

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag docker-tor-test:$(date +%s)
